<html>
  <head>
    <title>Loja <%= @titulo %>    </title>

    <%= javascript_include_tag "jquery", "jquery-ui", "jquery-form", "jrails", "application"  %>
  </head>
  <body>

    <h1> <%= yield :cabecalho %> | loja </h1>

    <%= render_flash %>

    <%= render "compartilhados/cabecalho" %>
        
    <%= yield %>
  </body>
</html>
